{% extends "base.html" %}{% load static %}
<!-- title -->
{% block title %} Winterstore | About {% endblock %}

<!-- imports -->
{% block imports %}
<link rel="stylesheet" href="{% static 'css/about.css' %}"> {% endblock %}

<!-- direct style-->
{% block style %} {% endblock %}

<!-- body  comes here -->
{% block body %}
<!-- navbar -->
{% include 'WebApplication/Components/navbar.html' %}

<!-- advertimage -->
<section id="intro" style="background-image: url('{% static 'jpg/1440x810_cmsv2_371acacd-a248-570b-8e4a-a28481ce9f55-4459998.jpg' %}');">
    <div class="about-ad">
        <div class="">
            <div class="about-ad-header">
                At the end of the day, the goals are simple: safety and security
            </div>
            <div class="about-ad-subtext">
                By focusing our efforts on engineering and staying at the forefront of technology, we strive to create reliable services that delight and surprise our customers.
            </div>
        </div>
    </div>
</section>

<section id="about-winterstore">
    <div class="about-winterstore-left">
        <div class="about-winterstore-left-about"> About Winterstore</div>
        <div class="about-winterstore-left-header"> We keep it all Secure more than anyone else</div>
        <div class="about-winterstore-left-body"> Winterstore's mission is is to let software developers keep their clients’ data more secure than ever, by bringing more robust access control to cloud storage. Instead of securing files by naming them with an n long character string which makes
            it harder to guess the name of the file, Cloud Winterstore will allow a client to set the access control measures for a file upon upload. For a person to view this file they will have to be either authenticated as the owner of the file, or
            the key to that file exists in the current authenticated user’s key set. </div>
    </div>
    <div class="about-winterstore-right">
        <img src="{% static 'svg/undraw_Security_on_re_e491.svg' %}">
    </div>

</section>

<section id="stats">
    <div class="stat-item">
        <div class="stat-item-header">2020</div>
        <div class="stat-item-subtext">
            Winterstore was started in <span style="font-weight: 600;">2021</span> in Ryan's room as a project for his level 2.2 Dissertation.
        </div>
    </div>
    <div class="stat-item">
        <div class="stat-item-header">2000mb data</div>
        <div class="stat-item-subtext">
            Over <span style="font-weight: 600;">2 Gigabytes</span> of data is stored to us securely, each file havng its own access control object that prevents un authorized users from accessing the file. No one does it better than us.
        </div>
    </div>
    <div class="stat-item">
        <div class="stat-item-header">20+ accounts</div>
        <div class="stat-item-subtext">
            We deliver our service to over <span style="font-weight: 600;">20 accounts</span> on 3 platforms, web, desktop and mobile. Providing engineering for each and every account. Retriving files fast and efficient.
        </div>
    </div>
</section>


<section id="ceo">
    <div class="ceo-profile">
        <img src="{% static 'png/rben.png' %}">
    </div>
    <div class="ceo-caption">
        “Don’t take too much advice. Most people who have a lot of advice to give — with a few exceptions — generalize whatever they did. Don’t over-analyze everything. I myself have been guilty of over-thinking problems. Just build things and find out if they
        work.”
    </div>
    <div class="ceo-footer">
        Ryan Ben - Founder & CEO
    </div>
</section>


<section id="intresting">
    <div class="stat-item">
        <div class="stat-item-header">What We Expect</div>
        <div class="stat-item-subtext">
            The expected result is a service that allows a developer to register and subscribe to a package and setup their storage. Which they will be able to build applications using the storage service. A client being able to upload a file, and add access control
            to the file, hence keeping it secure.The significance of the project is to provide security for developer client’s data, cause in this era their data is very valuable.
        </div>
    </div>
    <div class="stat-item">
        <div class="stat-item-header">What We Saw</div>
        <div class="stat-item-subtext">
            This problem I came to realize when I figured that Midlands State University keeps their student’s e-learning profile pictures in 1 folder, which is hosted by NGINX. The person who created the system did try to restrict access to these profile pictures
            by restricting access to the folder as whole. But injecting a student’s registration number to the end of the absolute URL of the images folder will allow you to view the person’s profile image. This gets way worse when you take note that
            all students emails can be synced to your android device, because MSU uses Google Mail for their students. Hence it allows us to get data on every student that is on campus, cause we already now all registration numbers.
        </div>
    </div>
</section>


<!-- get free storage -->
<div class="japan-block div-flex-center">
    <div class="japan-block-wrapper">
        <div class="japan-block-header">
            Are you ready to secure your clients files?
        </div>
        <div class="japan-block-subtext">
            New accounts get 15gb free valid for 3 months, just to get you started
        </div>
        <div style="margin-top: 20px;" class="sabi-button-lg-green " onclick="goto('/sign-up')">Create Account</div>
    </div>
</div>
</div>


<!-- footer  -->
{% include 'WebApplication/Components/footer.html' %} {% endblock %}