{% extends "base.html" %}{% load static %}
<!-- title -->
{% block title %} Winterstore | Recovery {% endblock %}

<!-- imports -->
{% block imports %} {% endblock %}

<!-- direct style-->
{% block style %}
<style>
    body {
        background-image: url("{% static 'png/signup_wallpaper.png' %}");
    }
    
    .recovery-body {
        margin-left: 12%;
        margin-right: 12%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 6px;
        background-color: white;
        padding: 20px;
        color: gray;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .recovery-body-header {
        font-size: medium;
    }
    
    .recovery-body-subtext {
        font-size: small;
    }
    
    .winter-text {
        color: rgb(144, 238, 238);
        font-size: small;
    }
    
    @media only screen and (max-width: 600px) {
        .recovery-body {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
</style>
{% endblock %}

<!-- body  comes here -->
{% block body %}

<!-- logo -->
<img src="{% static 'png/logo_full.png' %}" class="body-logo">

<!-- body -->
<div class="recovery-body">
    <div class="recovery-body-subtext">
        Enter recovery Code
    </div>
    <input name="code" id="code" placeholder="Code" class="Protea-input-box">
    <div class="recovery-body-subtext" style="margin-top: 20px;">
        Enter new Password
    </div>
    <input name="password" id="password" placeholder="New Password" class="Protea-input-box">
    <div style="margin-top: 20px;" class="sabi-button-gray " onclick="reset()">Change Password</div>
    <div class="recovery-body-subtext" style="margin-top: 20px;">
        If you dont wish to change your password, simply
    </div>
    <div class="recovery-body-subtext">
        press back
    </div>

    <div class="recovery-body-subtext" style="margin-top: 20px;">
        Cheers.
    </div>
    <div class="winter-text" style="margin-top: 10px;">
        Winterstore.
    </div>
</div>
<script>
    function reset() {
        showLoading();
        data = {
            "code": document.getElementById("code").value,
            "password": document.getElementById("password").value
        }
        postToServer("/recovery/reset/{{slug}}", data, function(responce) {
            hideLoading()
            setTimeout(function() {
                if (responce == "200")
                    window.location.replace("/")
            }, 2000)
            if (responce == "200") {
                ShowSuccess("Reset Successful")
            } else {
                ShowWarning("Reset Failed")
            }
        })
    }
</script>


{% endblock %}