{% extends "base.html" %}{% load static %}
<!-- title -->
{% block title %} Winterstore | Email Verification {% endblock %}

<!-- imports -->
{% block imports %} {% endblock %}

<!-- direct style-->
{% block style %}
<style>
    body {
        background-image: url("{% static 'png/signup_wallpaper.png' %}");
    }
    
    .verification-body {
        margin-left: 12%;
        margin-right: 12%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 6px;
        background-color: white;
        padding: 20px;
        color: gray;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .verification-body-header {
        font-size: medium;
    }
    
    .verification-body-subtext {
        font-size: small;
    }
    
    .winter-text {
        color: rgb(144, 238, 238);
        font-size: small;
    }
    
    @media only screen and (max-width: 600px) {
        .verification-body {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
</style>
{% endblock %}

<!-- body  comes here -->
{% block body %}

<!-- logo -->
<img src="{% static 'png/logo_full.png' %}" class="body-logo">

<!-- body -->
<div class="verification-body">
    <div class="verification-body-header">
        Hi there
    </div>
    <div class="verification-body-subtext" style="margin-top: 20px;">
        Please click on the button to complete the verification process for
    </div>
    <div class="verification-body-subtext">
        {{data.email}}.
    </div>
    <div style="margin-top: 20px;" class="sabi-button-green " onclick="verify()">Verify Your Email</div>
    <div class="verification-body-subtext" style="margin-top: 20px;">
        If you did'nt wish to verify your email address with Winterstore, please
    </div>
    <div class="verification-body-subtext">
        close this window.
    </div>

    <div class="verification-body-subtext" style="margin-top: 20px;">
        Cheers.
    </div>
    <div class="winter-text" style="margin-top: 10px;">
        Winterstore.
    </div>

</div>
<script>
    function verify() {
        showLoading();
        data = {
            "link": "{{data.verificationLink}}"
        }
        postToServer("/verify/{{data.verificationLink}}", data, function(responce) {
            hideLoading()
            setTimeout(function() {
                if (responce == "200")
                    window.location.replace("/console")
            }, 2000)
            if (responce == "200") {
                ShowSuccess("Verification Successful")
            } else {
                ShowWarning("Verification Failed")
            }
        })
    }
</script>


{% endblock %}