{% extends "base.html" %}{% load static %}
<!-- title -->
{% block title %} Winterstore | Verification Link Sent{% endblock %}

<!-- imports -->
{% block imports %} {% endblock %}

<!-- direct style-->
{% block style %}
<style>
    body {
        background-image: url("{% static 'png/signup_wallpaper.png' %}");
        background-size: cover;
        background-color: rgb(243, 243, 243);
    }
    
    .link-sent-body {
        padding: 40px;
    }
    
    .link-sent-body-copyright {
        font-size: xx-small;
        color: grey;
        margin-top: 20px;
    }
</style>
{% endblock %}

<!-- body  comes here -->
{% block body %}
<div class="link-sent-body">
    A Verification Link has been sent to your email.
    <div class="link-sent-body-copyright">2021 Winterstore, Inc. No Rights Reserved.</div>
</div>
{% endblock %}