<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winterstore | Console</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href="{% static 'png/logo.png' %}" />
    <!-- imports -->
    <script src="{% static 'js/console.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/console.css' %}">
    <!-- imports -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/canarymodalpack.css' %}">
    <link rel="stylesheet" href="{% static 'css/eaglepack.css' %}">
    <script src="{% static 'js/base.js'%}"></script>
    <script src="{% static 'js/communication.js'%}"></script>
    <link href="{% static '/fontawesome-free-5.15.3-web/css/all.css' %}" rel="stylesheet">
</head>

<body >
    
   
    <div class="frame">
        {% include 'Console/components/navbar.html' %}
        <div class="frame-pager">
            <div id="pagerMarker" class="frame-pager-marker"></div>
            {% include 'Console/pages/browser.html' %}
        </div>
    </div>

    {% include 'Console/modals/mobile_menu.html' %}


   
</body>

</html>