<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winterstore | Console</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href="{% static 'png/logo.png' %}" />
    <!-- imports -->
    <script src="{% static 'js/console.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/console.css' %}">
    <!-- imports -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/canarymodalpack.css' %}">
    <link rel="stylesheet" href="{% static 'css/eaglepack.css' %}">
    <script src="{% static 'js/base.js'%}"></script>
    <script src="{% static 'js/communication.js'%}"></script>
    <link href="{% static '/fontawesome-free-5.15.3-web/css/all.css' %}" rel="stylesheet">
    <!-- loading components -->
    <link rel="stylesheet" href="{% static 'css/loaders.css' %}">
    <!-- console modal css -->
    <link rel="stylesheet" href="{% static 'css/console_modal.css' %}">
    <!-- access control modal css -->
    <link rel="stylesheet" href="{% static 'css/access_control_modal.css' %}">
    <!-- files page css and js -->
    <link rel="stylesheet" href="{% static 'css/files_page.css' %}">
    <script src="{% static 'js/files_page.js'%}"></script>
    <!-- download stats page css and js -->
    <link rel="stylesheet" href="{% static 'css/download_stats_page.css' %}">
    <script src="{% static 'js/download_stats_page.js'%}"></script>
    <!-- deleted files page css and js -->
    <link rel="stylesheet" href="{% static 'css/deleted_files_page.css' %}">
    <script src="{% static 'js/deleted_files_page.js'%}"></script>
    <!-- integrations page css and js -->
    <link rel="stylesheet" href="{% static 'css/integrations_page.css' %}">
    <script src="{% static 'js/integrations_subpage.js'%}"></script>
    <!-- client account page css and js -->
    <link rel="stylesheet" href="{% static 'css/client_accounts_page.css' %}">
    <script src="{% static 'js/client_accounts_page.js'%}"></script>
    <!-- admin accounts css and js -->
    <link rel="stylesheet" href="{% static 'css/admin_account_page.css' %}">
    <script src="{% static 'js/admin_accounts_page.js'%}"></script>
    <!-- integration stats page  css and js -->
    <script src="{% static 'js/stats_integration_page.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/stats_integration_page.css' %}">
    
</head>

<body >
    <!-- Modals Come Here -->
    {% include 'Console/modals/loading.html' %}
    {% include 'Console/modals/admin_panel.html' %}
    {% include 'Console/modals/downloads.html' %}
    {% include 'Console/modals/uploads.html' %}
    {% include 'Console/modals/recommendation.html' %}
  
    <!-- notifications and loading -->
    {% include 'Console/modals/core.html' %}
   
    <div class="frame">
        {% include 'Console/components/navbar.html' %}
        <div class="frame-pager">
            <div id="pagerMarker" class="frame-pager-marker"></div>
            {% include 'Console/pages/browser.html' %}
            {% include 'Console/pages/accounts.html' %}
            {% include 'Console/pages/integrations.html' %}
        </div>
    </div>

    {% include 'Console/modals/mobile_menu.html' %}
   
</body>

</html>