{% load static %}
<link rel="stylesheet" href="{% static 'css/cookie_modal.css' %}">
<script src="{% static 'js/cookie_modal.js' %}"></script>

<!-- cookies modal --> 
<div id="cookie-modal" class="cookies-modal">
    <!-- icon -->
    <div class="cookie-icon"> 
        <i class="fas fa-cookie fa-2x"></i>
    </div>
    <div class="text">
        We use 3rd party cookies to personalise your the web application
    </div>
    <div class="button">
        <span class="ok-button" onclick="markCookieSeen()">Okay</span>
    </div>
</div>   