  {% load static %}
  <style>
    /* BODY */
    .loading-modal {
        cursor: pointer;
        background-color: white;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 101;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        transition: all 0.2s ease-in;
       visibility: visible;
       opacity: 1;
    }

    .loading-modal.hide {
        visibility: hidden;
        opacity: 0;
    }

    /* WINTERSTORE LOGO */
    .winterstore-logo {
        height: 80px;
        width: 80px;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 40%;
        transition: all 0.2s ease-in;
        opacity: 0;
        transform: translate(-50%,-50%);  
    }

    /* WINTERSTORE LOGO TRANSITION */
    .winterstore-logo.show {
        opacity: 1;
    }

</style>

<!-- BODY -->
<div id="loadingModal" class="loading-modal">

    <!-- WINTERSTORE LOGO -->
    <img id="winterstore-logo" class="winterstore-logo" src="{% static 'png/logo.png' %}"/>
    
    <!-- COPYRIGHT TEXT -->
    <div class="copyright-text">
        2021 Winterstore, Inc. No Rights Reserved
    </div>
</div>

<!-- console -->
<script>
    //show image has loaded
    document.getElementById("winterstore-logo").onload = function() {
        var modal = document.getElementById("winterstore-logo")
        if (!modal.classList.contains("show")){
            modal.classList.add("show") 
        }
    }

    function hideConsoleLoading(){
        var modal = document.getElementById("loadingModal")
        if (!modal.classList.contains("hide")){
            modal.classList.add("hide")
        }
    }
</script>