{% extends "base.html" %}
<!-- title -->
{% block title %} {% endblock %}

<!-- imports -->
{% block imports %} {% endblock %}

<!-- direct style-->
{% block style %} {% endblock %}

<!-- body  comes here -->
{% block body %} {% endblock %}




 <!-- Modals Come Here -->
    <!-- {% include 'Console/modals/loading.html' %} -->
    <!-- {% include 'Console/modals/projects.html' %} -->

     <!-- notifications and loading -->
    <!-- {% include 'Console/modals/core.html' %} -->



     <!-- Modals Come Here -->
     {% include 'Console/modals/loading.html' %}
     {% include 'Console/modals/projects.html' %}
 
      <!-- notifications and loading -->
     {% include 'Console/modals/core.html' %}




     <!-- items -->
     <div class="folder-categorizer item">
      <div class=""><input type="checkbox"></div>
      <div class="categorizer-text"><i class="fas fa-folder"></i>Profile Pictures</div>
      <div class="categorizer-text">300mb</div>
      <div class="categorizer-text">02/01/2020</div>
   
  </div>
  <div class="folder-categorizer item">
      <div class=""><input type="checkbox"></div>
      <div class="categorizer-text"><i class="fas fa-folder"></i>Media</div>
      <div class="categorizer-text">300mb</div>
      <div class="categorizer-text">02/01/2020</div>
  </div>
  <div class="folder-categorizer item">
      <div class=""><input type="checkbox"></div>
      <div class="categorizer-text"><i class="far fa-file-video" style="color: gray;"></i>Demo.mp4</div>
      <div class="categorizer-text">40mb</div>
      <div class="categorizer-text">19/06/2020</div>
  </div>
  <div class="folder-categorizer item">
      <div class=""><input type="checkbox"></div>
      <div class="categorizer-text"><i class="fas fa-file" style="color: gray;"></i>notes.txt</div>
      <div class="categorizer-text">40mb</div>
      <div class="categorizer-text">19/06/2020</div>
  </div>
  <div class="folder-categorizer item">
      <div class=""><input type="checkbox"></div>
      <div class="categorizer-text"><i class="fas fa-file-pdf" style="color: rgb(233, 125, 125);"></i>stats.pdf</div>
      <div class="categorizer-text">40mb</div>
      <div class="categorizer-text">19/06/2020</div>
  </div>
  <div class="folder-categorizer item">
      <div class=""><input type="checkbox"></div>
      <div class="categorizer-text"><i class="fas fa-file-audio" style="color: gray;"></i>dance.mp3</div>
      <div class="categorizer-text">40mb</div>
      <div class="categorizer-text">19/06/2020</div>
  </div>