{% load static %}
<style>
    .accounts-page {
        display: grid;
        height: 100%;
        grid-template-columns: 20% 90%;
        z-index: 102;
        cursor: pointer;
        display: none;
    }

    .accounts-page> .accounts-page-left{
        padding-left: 20px;
        padding-top: 20px;
        border-right: solid 1px rgba(238, 238, 238, 0.808);
    }

    .accounts-page-left-item {
        display: grid;
        grid-template-columns: 10% 90%;
        gap: 10px;
        height: 30px;
        color: gray;
        margin-top: 10px;
        transition: all 0.1s ease-in;
    }

    .page-item-icon {
        font-size: 20px;
    }

    .accounts-page-left-item.selected {
        color: rgb(77, 77, 77);
    }

    .page-item-text {
        font-size: small;
        height: inherit;
        margin-top: 3px;
    }

    .accounts-page-right  {
        padding-right: 10%;
        padding-top: 20px;
        height: 100%;
    }

    
/* adaptivenes */

@media only screen and (max-width: 600px) {
    .accounts-page {
      grid-template-columns: 40% 60%;
    }

    .accounts-page-right  {
        padding-right: 0px;
        padding-top: 20px;
        height: 100%;
    }
}


</style>

<div id="accounts-page" class="accounts-page">
    <div  class="accounts-page-left">
        <div id="AccountsClientButton" class="accounts-page-left-item selected">
            <div class="div-flex center" > <i class="fas fa-user-alt"></i></div>
            <div class="page-item-text div-flex start">Client Accounts</div>
        </div>
        <div id="AccountsAdminButton" class="accounts-page-left-item">
            <div class="div-flex center" > <i class="fas fa-user-shield"></i></div>
            <div  class="page-item-text div-flex start">Admin Accounts</div>
        </div>
        <div class="accounts-page-left-item">
            <div class="div-flex center" ><i class="fas fa-trash-alt"></i></div>
            <div class="page-item-text div-flex start">Deleted Accounts</div>
        </div>
    </div>
    <div class="accounts-page-right" onclick="hideOptionsModals()" >
        <!-- sub-pages -->
        {% include 'Console/pages/accounts_sub_pages/client_accounts.html' %}
        {% include 'Console/pages/accounts_sub_pages/admin_accounts.html' %}
        {% include 'Console/pages/accounts_sub_pages/deleted_accounts.html' %}
    </div>
</div>


<!-- script -->
<script>
    let pageInitialized = false

    //function to show the page
    function showAccountsPage(){
        document.getElementById("accounts-page").style.display = "grid" ;        
        
        if (pageInitialized == false){
            pageInitialized = true
            intilize()
        }
    }

    //client listener
    document.getElementById("AccountsClientButton").addEventListener("click",()=>{
        hideAllAccountsSubPages()
        showClientAccounts()
    })

    //admin listener
    document.getElementById("AccountsAdminButton").addEventListener("click",()=>{
        hideAllAccountsSubPages();
        showAdminAccounts()
    })
    
    //state management
    function intilize(){
        //entry point
        showClientAccounts()
    }

    //function to hide the page
    function hideAccountsPage(){
        document.getElementById("accounts-page").style.display = "none" ;
    }

    function hideAllAccountsSubPages(){
        hideClientAccounts()
        hideAdminAccounts()
        hideDeletedAccounts()
    }



</script>
