{% load static %}
<style>
    .page-browser {
        display: grid;
        height: 100%;
        grid-template-columns: 20% 90%;
        z-index: 102;
        cursor: pointer;
        display: none;
    }

    .page-browser> .page-browser-left{
        padding-left: 20px;
        padding-top: 20px;
        border-right: solid 1px rgba(238, 238, 238, 0.808);
    }

    .page-browser-left-item {
        display: grid;
        grid-template-columns: 10% 90%;
        gap: 10px;
        height: 30px;
        color: gray;
        margin-top: 10px;
        transition: all 0.1s ease-in;
    }

    .page-item-icon {
        font-size: 20px;
    }

    .page-browser-left-item.selected {
        color: rgb(77, 77, 77);
    }

    .page-item-text {
        font-size: small;
        height: inherit;
        margin-top: 3px;
    }

    .page-browser-right  {
        padding-right: 10%;
        padding-top: 20px;
        height: 100%;
    }

    
/* adaptivenes */
@media only screen and (max-width: 600px) {

    .page-browser {
      grid-template-columns: 40% 60%;
    }

    .page-browser-right  {
        padding-right: 0px;
        padding-top: 20px;
        height: 100%;
    }
}


</style>

<div id="page-browser" class="page-browser">
    <div class="page-browser-left">
        <div class="page-browser-left-item selected" id="allFilesButton ">
            <div class="div-flex center" > <i  class="fas fa-folder page-item-icon"></i></div>
            <div class="page-item-text div-flex start">All Files</div>
        </div>
        <div class="page-browser-left-item" id="downloadStatsButton">
            <div class="div-flex center" > <i class="fas fa-cloud-download-alt"></i></div>
            <div class="page-item-text div-flex start">Download Stats</div>
        </div>
        <div class="page-browser-left-item" id="deletedHistoryButton">
            <div class="div-flex center" ><i class="fas fa-trash-alt"></i></div>
            <div class="page-item-text div-flex start">Deleted History</div>
        </div>
    </div>
    <div class="page-browser-right" onclick="hideOptionsModals()" >
        <!-- sub-pages -->
        {% include 'Console/pages/browser_sub_pages/files.html' %}
        {% include 'Console/pages/browser_sub_pages/downloads.html' %}
        {% include 'Console/pages/browser_sub_pages/deleted.html' %}
    </div>
</div>


<script>
    //varibles
    let browserPageInitialized = false
    let allFilesButton = document.getElementById("allFilesButton ")
    let downloadStatsButton = document.getElementById("downloadStatsButton")
    let deletedHistoryButton = document.getElementById("deletedHistoryButton")


    //Navigation listener(Files)
    allFilesButton.addEventListener("click",()=>{
            hideOtherSubPages()
            showBrowserFilePage()
            loadBrowserSubPage(allFilesButton)
        })
    
    //Navigation listener(Download Stats)
    downloadStatsButton.addEventListener("click",()=>{
            hideOtherSubPages()
            showBrowserDownloadPage()
            loadBrowserSubPage(downloadStatsButton)
        })
    
    //Navigation listener(Deleted Files)
    deletedHistoryButton.addEventListener("click",()=>{
            hideOtherSubPages()
            showBrowserDeletedPage()
            loadBrowserSubPage(deletedHistoryButton)
        })

    //show page(Entry)
    function showBrowser(){
        //make visible
        document.getElementById("page-browser").style.display = "grid"
        
        //initialize of not initialized
        if (browserPageInitialized == false){
            browserPageInitialized = true
            initialize()
        }
    }

    //initilize page
    function initialize(){
        //show files page first
        loadBrowserSubPage(allFilesButton)
        showBrowserFilePage()  
    }

    //hide page
    function hideBrowser(){
        //make visible
        document.getElementById("page-browser").style.display = "none"
    }
    
    //hide sub pages
    //this function hide all subpages as to transition to a subpage
    function hideOtherSubPages(){
        hideBrowserDownloadPage()
        hideBrowserFilePage()
        hideBrowserDeletedPage()
    }


    //hide all modals
    //this function hides option modals as to show a certain modal
    function hideOptionsModals(){
        hideOptionsModal()
        hideBrowserOptionsPage()
    }

    //Set select sub page icon dark
    function loadBrowserSubPage(button){
        //remove selected and assign new selected 
        try{
            document.querySelector(".page-browser-left-item.selected").classList.remove("selected")
        }
        catch(e){
            null
        }
        
        if (!button.classList.contains("selected")){
            button.classList.add("selected")
        }
    }

</script>