<style>
    .page-browser {
        display: grid;
        height: 100%;
        grid-template-columns: 20% 90%;
        z-index: 102;
    }

    .page-browser> .page-browser-left{
        padding-left: 20px;
        padding-top: 20px;
        border-right: solid 1px rgba(238, 238, 238, 0.808);
    }

    .page-browser-left-item {
        display: grid;
        grid-template-columns: 10% 90%;
    }

</style>

<div class="page-browser">
    <div class="page-browser-left">
        <div class="page-browser-left-item">
            <div class=""></div>
            <div class="">All integrations</div>
        </div>
    </div>
    <div class="page-browser-right">
        Mr Ben
    </div>
</div>