<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href="{% static 'png/logo.png' %}" />
    <!-- imports come here-->
    {% block imports %} {% endblock %}
</head>

<!-- direct style-->
{% block style %} {% endblock %}

<body>
    <!-- body  comes here -->
    {% block body %} {% endblock %}
</body>

</html>