<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href="{% static 'png/logo.png' %}" />
    <!-- google verification -->
    <meta name="google-site-verification" content="mwVwYKxjsnDjzoOLygIpH76S90ewu6mQz6HY4-xIyLE" />
    <!-- styles and JS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/canarymodalpack.css' %}">
    <link rel="stylesheet" href="{% static 'css/eaglepack.css' %}">
    <script src="{% static 'js/base.js'%}"></script>
    <script src="{% static 'js/communication.js'%}"></script>
    <link href="{% static '/fontawesome-free-5.15.3-web/css/all.css' %}" rel="stylesheet">
    <!-- winterstore javascript connection -->
    <!-- imports come here-->{% block imports %} {% endblock %}
</head>

<!-- direct style-->
{% block style %} {% endblock %}

<body>
    <!-- body  comes here -->
    <div id="pagerBody" class="pager-body">
        {% block body %} {% endblock %}
    </div>


    <!--modal section -->

    <!-- login modal-->
    <div id="loginModal" class="login-modal">
        <div class="login-modal-close" onclick="hideLoginModal()">
            <i class="fas fa-times"></i>
        </div>
        <div class="login-modal-header">
            Log In To Your Account
        </div>
        <hr class="loginModalDevider">
        <!-- username input-->
        <div class="div-flex-center">
            <input name="username" id="loginUsername" placeholder="Username" class="Protea-input-box">
        </div>
        <!-- password input-->
        <div class="div-flex-center">
            <input name="password" id="loginPassword" placeholder="Password" type="password" class="Protea-input-box">
        </div>
        <!-- modal footer -->
        <div class="login-modal-footer">
            <div class="login-modal-footer-left">
                <div class="login-modal-footer-link" onclick="goto('/recovery')">
                    Forgot Password
                </div>
                <div class="login-modal-footer-link" onclick="goto('/sign-up')">
                    Create An Account
                </div>
            </div>
            <div class="login-modal-footer-right">
                <div class="sabi-button-sm-blue center-button" onclick="login()">Sign In</div>
            </div>
        </div>
    </div>

    <!-- notification box -->
    <div id="notificationContainer" class="notification-block">

    </div>

    <!-- loading panel -->
    <div id="loader" class="loading-panel">
        <div class="loading-panel-body">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="" style="text-align: center; margin-top: -10px;color: rgb(235, 235, 235);font-size: small;">
                Working
            </div>
        </div>

    </div>

</body>

</html>