{% for object in data %}
<div class="folder-categorizer item"  ondblclick="loadIndexObject(event,'{{object.objectType}}','{{object.id}}','{{object.name}}')" oncontextmenu="handleRightClick(event)">
    <div class=""><input type="checkbox"></div>
    <div class="categorizer-text">
        <!-- object type-->
        {% if object.objectType == 'FD' %}
            <i class="fas fa-folder"></i>
        {% elif object.fileType == 'video' %}
            <i class="far fa-file-video" style="color: gray;"></i>
        {% elif object.fileType == 'file' %}
            <i class="fas fa-file" style="color: gray;"></i>
        {% elif object.fileType == 'audio' %}
            <i class="fas fa-file-audio" style="color: gray;"></i>
        {% elif object.fileType == 'pdf' %}
        <i class="fas fa-file-pdf" style="color: rgb(233, 125, 125);"></i>
        {% endif %}
        {{object.name}}</div>
    <div class="categorizer-text hide-mobile ">{{object.size}}</div>
    <div class="categorizer-text hide-mobile ">{{object.created}}</div>
</div>
{% endfor  %}
