{% for object in data %}
<div class="list-element item" onclick="handleSingleClick(this)" ondblclick="loadIndexObject(event,'{{object.objectType}}','{{object.id}}','{{object.name}}')" oncontextmenu="handleRightClick(event,'{{object.id}}','{{object.objectType}}','{{object.name}}','{{object.size}}','{{object.created}}',this)">
    <div class=""><input type="checkbox" class="filesCheckboxBox" onclick="markFile('{{object.id}}',this)"></div>
    <div class="categorizer-text" style="padding-left: 1px;">
        <!-- object type-->
        {% if object.objectType == 'FD' %}
            <i class="fas fa-folder"></i>
        {% elif object.fileType == 'video' %}
            <i class="far fa-file-video" style="color: gray;"></i>
        {% elif object.fileType == 'file' %}
            <i class="fas fa-file" style="color: gray;"></i>
        {% elif object.fileType == 'audio' %}
            <i class="fas fa-file-audio" style="color: gray;"></i>
        {% elif object.fileType == 'pdf' %}
        <i class="fas fa-file-pdf" style="color: rgb(233, 125, 125);"></i>
        {% endif %}
        {{object.name}}</div>
    <div class="categorizer-text hide-mobile ">{{object.size}}</div>
    <div class="categorizer-text hide-mobile " style="padding-left: 2px;">{{object.created}}</div>
    <div class="categorizer-text hide-mobile "> <span onclick="fallbackCopyTextToClipboard('{{object.id}}')"><i class="far fa-copy"></i></span></div>
</div>
{% endfor  %}
