body {
    font-family: sans-serif;
    color: rgb(70, 70, 70);
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

.pager-body {
    filter: brightness(100%);
    transition: all 0.2s ease-in;
}

.pager-body.dim {
    filter: brightness(60%);
}


/* notification box */

.notification {
    padding: 15px;
    background-color: rgb(20, 24, 26);
    color: white;
    display: inline-block;
    border-radius: 5px;
    min-width: 150px;
    margin-top: 10px;
    visibility: hidden;
    animation: notificationAnime 5s ease;
}

@keyframes notificationAnime {
    0% {
        margin-top: 100%;
        visibility: visible;
    }
    20% {
        margin-top: 10px;
    }
    70% {
        margin-top: 10px;
    }
    95% {
        opacity: 1;
    }
    100% {
        margin-top: 100%;
        visibility: hidden;
    }
}

.notification-block {
    left: 10px;
    bottom: 0px;
    visibility: hidden;
    position: fixed;
    height: 80px;
    width: 300px;
}

.notification-block.active {
    visibility: visible;
}

@media only screen and (max-width: 1055px) {}

@media only screen and (max-width: 800px) {
    body {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 500px) {}

@media only screen and (max-width: 400px) {}

@media only screen and (max-width: 340px) {}