/* login modal */

.login-modal {
    height: 260px;
    background-color: white;
    width: 300px;
    z-index: 101;
    position: fixed;
    left: 50%;
    border-radius: 6px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
}

.login-modal.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform: translate(-50%, -80%);
}

.login-modal-close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: lightgray;
}

.login-modal-header {
    margin-top: 30px;
    margin-left: 20px;
}

.loginModalDevider {
    margin-top: 30px;
    border: none;
    border-bottom: solid 0.5px rgba(211, 211, 211, 0.616);
}

.Protea-input-box {
    width: 260px;
    margin-top: 10px;
    padding-left: 10px;
    outline: none;
    height: 35px;
    border: solid 0.5px rgba(211, 211, 211, 0.616);
    transition: all ease 0.5s;
    border-radius: 5px;
}

.Protea-input-box.error {
    border: solid 0.5px rgba(196, 58, 58, 0.616);
}

.Protea-input-box:focus {
    border: solid 0.5px rgba(88, 183, 196, 0.616);
}

.login-modal-footer {
    margin-left: 17px;
    margin-top: 15px;
    font-size: x-small;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-modal-footer-link {
    margin-top: 10px;
    color: rgb(53, 165, 202);
}

.login-modal-footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-left: auto;
    margin-top: auto;
    margin-right: 15px;
}


/* loading box */

.loading-panel {
    position: fixed;
    z-index: 102;
    background: rgba(78, 78, 78, 0.548);
    width: 190px;
    border-radius: 5px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1);
    transition: all 0.5s ease;
}

.loading-panel.show {
    opacity: 1;
    visibility: visible !important;
    transform: scale(1);
    transform: translate(-50%, -50%);
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(0.4);
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* adaptivenes */

@media only screen and (max-width: 600px) {
    .login-modal {
        width: 90%;
        height: 290px;
    }
    .Protea-input-box {
        width: 90%;
        height: 50px;
    }
}