/*  */
/*  */
/*  */
/*  */
/* Console Modal CSS */

/* Body */
.console-modal {
    position: fixed;
    z-index: 102;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in;
}

/* Show modal body (Transition) */
.console-modal.show{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,-50%);
}

/* Hide modal (Button) */
.modal-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
}


/* Console Modal Subtext (Text) */
.console-modal-subtext {
    margin-top: 20px;
    font-size: small !important;
}

/* Modal Button (Button) */
.modal-button {
    padding: 15px 20px;
    background-color: #8594E3;
    color: white;
    text-align: center;
    font-size: small;
    margin-top: 15px;
    border-radius: 6px;
    width: 80px;
    transition: all 0.5s ease-in;
}

/* TEXT INPUTS */
.projects-modal-body-item {
    height: 50px;
    background-color: rgba(224, 224, 224, 0.788);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-top: 10px;
    transition: all 0.05s ease-in;
    cursor: pointer;
}

.plain-input {
    width: 100%;
    outline: none;
    border: none;
    padding-left: 20px;
}


/* Modal Button Clicked (Transition) */
.modal-button.clicked {
    opacity: 0.5 !important;
}
