body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}


.frame {

}

.div-flex {
    display: flex;
    align-items: center;
}
.div-flex.center{
    justify-content: center;
}
.div-flex.start{
    justify-content: start;
}
.div-flex.end{
    justify-content: flex-end;
}

