/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;  
    -webkit-tap-highlight-color: transparent;
}

/* div styles */
div {
    outline-style: none;
}

.div-flex {
    display: flex;
    align-items: center;
}
.div-flex.center{
    justify-content: center;
}
.div-flex.start{
    justify-content: start;
    align-items: center;
}
.div-flex.end{
    justify-content: flex-end;
}


/* frame pager */
.frame-pager {
    position: fixed;
    height: 100%;
    background-color: white;
    left: 1%;
    top: 55px;
    width: 98%;
    border-radius: 6px;
}

.frame-pager-marker {
    width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid white;
      position: absolute;
      top: -10px;
}

/* this animate refresh buttons */
.animate-clicked {
transition: all 0.2s ease-in;
}

.animate-clicked.animate {
    transform: rotate(180deg);
}

/* font of small */
.sm {
    font-size: 9pt;
}

/* ALLOW SELECT FOR CERTAIN PARTS */
.allow-select {
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all; 
}


/* refresh button */
.refresh-button {
    margin-left: auto;
    margin-right: 40px;
}

/* body separator */
.separator {
    border-bottom: solid 1px rgba(235, 235, 235, 0.685);
    margin-left: -20px;
    margin-top: 20px;
}

/* adaptive global css */
@media only screen and (max-width: 750px) {
    
    .frame-pager-marker {
        display: none;
    }

    .frame-pager {
        width: 100%;
        left: 0%;
        border-radius: 0px;
    }

    .hide-mobile {
        display: none;
    }
}



