body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;  

    -webkit-tap-highlight-color: transparent;
}
div {
    outline-style: none;
}


.frame {

}

.div-flex {
    display: flex;
    align-items: center;
}
.div-flex.center{
    justify-content: center;
}
.div-flex.start{
    justify-content: start;
    align-items: center;
}
.div-flex.end{
    justify-content: flex-end;
}
/* frame pager */
.frame-pager {
    position: fixed;
    height: 100%;
    background-color: white;
    left: 1%;
    top: 55px;
    width: 98%;
    border-radius: 6px;
}

.frame-pager-marker {
    width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid white;
      position: absolute;
      top: -10px;
}








@media only screen and (max-width: 750px) {
    .frame-pager-marker {
        display: none;
    }

    .frame-pager {
        width: 100%;
        left: 0%;
        border-radius: 0px;
    }

    .hide-mobile {
        display: none;
    }
}



/* loading css */
.pageLoader{
    transition: all ease-in 0.1s ;
    opacity: 0;
    transform: scale(0.2);
    position: absolute;
    top: 35%;
    left: 52%;
}

.pageLoader.show{
    opacity: 1;
    transform: scale(1);
}

.loader-console {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #539CA1;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.8s linear infinite; /* Safari */
    animation: spin 0.8s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

