    /* PAGE */
    .integrations-integrationss-page {
        display:  none;
        margin-right: 1%;
    }

    /* TOOLBAR */
    .integrations-integrations-page.top-toolbar {
        margin-top: 20px;
        margin-left: 0px;
    }

    /* TOOLBAR SEARCH (INPUT) */
    .top-toolbar-search {
        background-color: rgba(223, 223, 223, 0.555);
        width: 600px;
        padding: 13px;
        font-size: small;
        border: none;
        outline: none;
        color: gray;
        border-radius: 4px;
    }

    /* CATEGORIZER */
    .stats-integrations-categorizer {
        margin-top: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 20% 10% 10% 10% 10% 10% 20%;
        border-bottom: solid 1px rgba(235, 235, 235, 0.685);
    }

    /* INTEGRATION ITEM */
    .stats-integrations-item {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 20% 10% 10% 10% 10% 10% 20%;
        border-bottom: solid 1px rgba(235, 235, 235, 0.685);
        transition: all 0.1s ease;
    }

    .stats-integrations-item:hover{
        background-color: rgba(142, 178, 226, 0.137);
    }

    /* ADAPTIVENESS */
    @media only screen and (max-width: 100px) {
        .integrations-file-item {
            grid-template-columns: 100%
        }
    }